body {
    font-family: Arial, sans-serif;
    background-color: #9B2915;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 50px; 
}

table {
    width: 80%; 
    margin: 0 auto; 
    border-collapse: collapse; 
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #F5DD90; 
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#contenedorBoton {
    text-align: center; 
    margin-top: 20px; 
}