body {
    font-family: Arial, sans-serif;
    background-color: #E9B44C;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center; /* Centrar contenido */
    margin-top: 50px; /* Espacio superior para evitar que la tabla esté demasiado cerca de la parte superior */
}

table {
    width: 80%; /* Ancho de la tabla */
    margin: 0 auto; /* Centrar la tabla horizontalmente */
    border-collapse: collapse; /* Colapsar bordes de la tabla */
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #F5DD90; /* Color de fondo de las celdas del encabezado */
}
